.my-auctions form
{
	border       : 1px solid black;
	margin-left  : 1px;
	margin-right : 1px;
	padding      : 2px;
}

.my-auctions form *
{
	display : inline;
}

/* a conflict with ".my-auctions form *" - chosen requires inline-block to work correctly */
.my-auctions #status_chosen *
{
	display : inline-block;
}

.my-auctions form h1
{
	font-size     : 100%;
	font-weight   : bold;

	margin-top    : 0;
	margin-bottom : 0;
}

.my-auctions #createdInDays
{
	display : inline;
	width   : 5em;
	height  : 25px;
}

.my-auctions .status-filter
{
	display     : inline-block;
	width       : 180px;
	margin-left : 10px;
}

.my-auctions .filter-button
{
	display      : inline-block;
	float        : right;
	margin-right : 5px;
	height       : 25px;
	line-height  : 0.5;
}

.my-auctions th
{
	text-align : center;
}

.my-auctions .title
{
	width      : 60%;
	text-align : left;
}

.my-auctions .category, .my-auctions .time, .my-auctions .price
{
	text-align : center;
}