@model Auctioneer.Presentation.Models.AuctionDeleteViewModel
@using Lang = Auctioneer.Resources.Auction.Delete;

@{
	ViewBag.Title = "Delete";
}

<div class="alert alert-warning" role="alert">
	<h1>@String.Format(Lang.AreYouSure, Model.Title)</h1>

	@using(Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(x => x.Id)

		<input type="submit" value="@Lang.SubmitText" class="btn btn-danger horizontally-centered" />
	}
</div>
