@using Lang = Auctioneer.Resources.User.ConfirmMail;

@{
	ViewBag.Title = "ConfirmMail";
}

<main class="message success">
	<h1>@Lang.Header</h1>
	<p>@Html.Raw(String.Format(Lang.Message, Html.ActionLink(Lang.LoginLinkText, actionName: "Login")))</p>
</main>

