@using Lang = Auctioneer.Presentation.Resources.User.ResetPasswordConfirmation;

@{
	ViewBag.Title = "ResetPasswordConfirmation";
}

<main class="message">
	<h1>@Lang.Header</h1>
	<p>@Html.Raw(String.Format(Lang.Message, Html.ActionLink(Lang.LoginLinkText, actionName: "Login")))</p>
</main>

