.auction-details
{
	background-color : white;
}

.auction-details header
{
	margin-bottom : 20px;
}

.auction-details .control-panel
{
	border-bottom : 1px solid black;
	padding       : 3px;
	padding-left  : 10%;
	margin-bottom : 0;
}

.auction-details header > h1
{
	text-align   : center;
	margin-top   : 0;
	margin-bottom: 0;
}

.auction-details header > .end-time
{
	text-align : center;
}

.auction-details header > .end-time > .inactive
{
	font-size   : 120%;
	color       : red;
	font-weight : bold;
}

.auction-details .basic-info
{
	display         : flex;
	justify-content : space-around;
}

.auction-details .column
{
	display         : flex;
	flex-direction  : column;
	align-items     : center;
	justify-content : center;
	flex            : 1 1 100%;
}

.auction-details .dl-horizontal
{
	align-self   : flex-start;
	margin-left  : auto;
	margin-right : auto;
}

.auction-details .dl-horizontal dt
{
	width : 100px;
}

.auction-details .dl-horizontal dd
{
	width       : auto;
	float       : left;
	margin-left : 20px;
}

.auction-details .price
{
	color       : orange;
	font-weight : bold;
	font-size   : 150%;
}

.auction-details .buy-button
{
	min-width : 100px;
}

.auction-details .photos
{
	display        : flex;
	border         : 1px solid black;
	margin-top     : 10px;
	padding-top    : 3px;
	padding-bottom : 3px;
	
	flex-wrap      : nowrap;
	justify-content: center;
	overflow       : hidden;
}

.auction-details .photos img
{
	margin-left : 5px;
	margin-right: 5px;
}

.auction-details .auction-description
{
	background-color: #F5F5F5;
	border          : 1px solid #CCC;
	border-radius   : 4px;
	padding         : 10px;
}

.auction-details .auction-description img
{
	max-width : 100%;
}