.page-body
{
	margin-top: 70px;
}

.jumbotron
{
	padding-top:    10px;
	padding-bottom: 10px;
	margin-bottom:  20px;
}

section, nav, main, header
{
	background-color: #eeeeee;
	border-radius   : 10px;	
	padding-bottom  : 5px;	
}

.language-selector
{
	margin-left : 20px;

	position    : absolute;
	top         : 50%;
	transform   : translateY(-50%);
}

.user-greetings
{
	font-size     : 120%;
	float         : left;
	color         : #CCC;
	margin        : 0;
	padding-top   : 13px;
	padding-bottom: 13px;
}

.user-greetings::after
{
	content: ":"
}

.alert h1
{
	font-size  : 150%;
	text-align : center;
	margin-top : 0;
}

.horizontally-centered
{
	position  : relative;
	left      : 50%;
	transform : translateX(-50%);
}

footer
{
	text-align: center;
}