.category-list
{
	background-color: #eeeeee;
	width           : 200px;
	padding         : 0;
	margin-right    : 10px;
	border-radius   : 4%;
}

.category-list h1
{
	font-size  : 160%;
	margin-left: 3px;
	margin-top : 3px;
}

.category-list ul
{
	list-style-type: none;
	font-size      : 120%;
	margin-left    : 1em;
	padding-left   : 0;
}

.category-list a
{
	transition: color 1s ease;
}

.category-list a:hover
{
	color: #00cc00;
}