@model AuctionSortOrder
@using Lang = Auctioneer.Resources.Category.Index;

@using Auctioneer.Logic.Auctions

<ul class="sorting-property-selector">
	@Lang.SortBy
	<li>
		@Html.SortOrderLink(Lang.Title, Model, AuctionSortOrder.TitleAscending, AuctionSortOrder.TitleDescending,
		                    routeValues: new { page = 1 })
	</li>
	<li>
		@Html.SortOrderLink(Lang.TimeToEnd, Model, AuctionSortOrder.EndDateAscending, AuctionSortOrder.EndDateDescending,
								  routeValues: new { page = 1 })
	</li>
	<li>
		@Html.SortOrderLink(Lang.Price, Model, AuctionSortOrder.PriceAscending, AuctionSortOrder.PriceDescending,
		                    routeValues: new { page = 1 })
	</li>
</ul>
