@model CategoryListViewModel
@using Lang = Auctioneer.Resources.Category.Index;

<nav class="category-list">
	<h1 class="hidden-xs">@Lang.Header</h1>
	
	<button type="button" class="visible-xs" data-toggle="collapse" data-target=".category-list ul">
		@Lang.Header
	</button>

	<ul class="collapse">
		@foreach(var category in Model.Categories)
		{
			<li>
				@{
					var categoryLink = Html.ActionLinkWithSlug(category.Name, "Index", routeValues: new
					                   {
					                      id           = category.Id,
					                      searchString = Model.SearchString
					                   });
				}

				@Html.Raw(String.Format("{0} ({1})", categoryLink, category.AuctionCount))
			</li>
		}
	</ul>
</nav>
