@model CategoryListViewModel

<nav class="category-list">
	<h1>@Resources.Categories_Header</h1>
	<ul>
		@foreach(var category in Model.Categories)
		{
			<li>@Html.ActionLink(category.Name, "Index", new { id = category.Id })</li>
		}
	</ul>
</nav>
