@model CategoryListViewModel
@using Lang = Auctioneer.Resources.Category.Index;

<nav class="category-list">
	<h1>@Lang.Header</h1>
	<ul>
		@foreach(var category in Model.Categories)
		{
			<li>
				@{
					var categoryLink = Html.ActionLinkWithSlug(category.Name, "Index", routeValues: new
					                   {
					                      id           = category.Id,
					                      searchString = Model.SearchString
					                   });
				}

				@Html.Raw(String.Format("{0} ({1})", categoryLink, category.AuctionCount))
			</li>
		}
	</ul>
</nav>
