@model CategoryListViewModel
@using Lang = Auctioneer.Resources.Category.Index;

<nav class="category-list">
	<h1>@Lang.Header</h1>
	<ul>
		@foreach(var category in Model.Categories)
		{
			<li>@Html.ActionLinkWithSlug(category.Name, "Index", routeValues: new { id = category.Id }) (@category.AuctionCount)</li>
		}
	</ul>
</nav>
