@model Auctioneer.Presentation.Models.CategoryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="category-auction-container">

	@{ Html.RenderPartial("_List", Model.Category); }
	
	<main class="auction-list">
		@Html.DisplayFor(x => x.Auctions)
	</main>
</div>



