@model CategoryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="category-auction-container">

	@{ Html.RenderPartial("_List", Model.Category); }
	
	<main class="auction-list">
		
		@{ Html.RenderPartial("_AuctionSortOrder", Model); }
		@Html.DisplayFor(x => x.Auctions)
		@{ Html.RenderPartial("_AuctionPagination", Model); }

	</main>
</div>



