@model CategoryIndexViewModel
@using Lang = Auctioneer.Resources.Category.Index;

@{
	Layout        = "~/Views/Shared/_Layout_with_search_and_breadcrumb.cshtml";
	ViewBag.Title = "Index";
}

<div class="category-auction-container">

	@Html.Action(controllerName: "Category", actionName: "Categories", routeValues: new
	{
		parentCategoryId = Model.CategoryId
	})
	
	<main class="auction-list">
		@if(Model.Auctions.Any())
		{
			Html.RenderPartial("_AuctionSortOrder", Model.CurrentSortOrder);
			@Html.DisplayFor(x => x.Auctions)
			Html.RenderPartial("_AuctionPagination", Model.Auctions);
		}
		else
		{
			<p class="no-results">@Lang.NoResultsFound</p>
		}
	</main>
</div>



