@using Lang = Auctioneer.Presentation.Resources.Shared.Layout;

<li>@Html.ActionLink(Lang.MyAccount, controllerName: "Account", actionName: "Index")</li>
<li>@Html.ActionLink(Lang.LogOut, controllerName: "User", actionName: "Logout")</li>
