@using Lang = Auctioneer.Resources.Shared.Layout;

<li>@Html.ActionLink(Lang.CreateAccount, controllerName: "User", actionName: "Create")</li>
<li>
	@Html.ActionLink(Lang.LogIn, controllerName: "User", actionName: "Login", routeValues: new
	{
		returnUrl = Request.RawUrl
	})
</li>
