@using Lang = Auctioneer.Resources.Shared.Layout;

<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
		
		@{ Html.RenderAction(areaName: String.Empty, controllerName: "User", actionName: "Greetings",
		                     excludeFromParentCache: true); }

		<li>@Html.ActionLink(Lang.AddAuctionLink, areaName: String.Empty, controllerName: "Auction", actionName: "Add")</li>
		
		@{ Html.RenderAction(areaName: String.Empty, controllerName: "Layout", actionName: "LoginLinks",
		                     excludeFromParentCache: true); }

	</ul>
</div>
