@model IEnumerable<AuctionViewModel>

@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Auctioneer</h1>
    <p class="lead">Auctioneer is a platform for buying and selling anything you want.</p>
</div>

<div class="category-auction-container">
	
	@{ Html.RenderAction("TopCategories", "Category"); }
	
	<main class="auction-list">
		
		<h1>@Resources.MostRecentAuctions</h1>

		@Html.DisplayForModel();

	</main>
</div>
