@model IEnumerable<AuctionViewModel>
@using Lang = Auctioneer.Presentation.Resources.Home.Index;

@{
	Layout        = "~/Views/Shared/_Layout_with_search_and_breadcrumb.cshtml";
	ViewBag.Title = "Welcome";
}

@section Header
{
	<div class="jumbotron">
		<h1>Auctioneer</h1>
		<p class="lead">@Lang.AuctioneerDescription</p>
	</div>
}

<div class="category-auction-container">
	
	@{ Html.RenderAction("TopCategories", "Category"); }
	
	<main class="auction-list">
		
		<h1>@Lang.MostRecentAuctions</h1>

		@Html.DisplayForModel()

	</main>
</div>
