@model ForgotPasswordMail

@{
	Layout = null;

	var passwordResetLinkUrl = Url.Action(controllerName: "User", actionName: "ResetPassword", protocol: Request.Url.Scheme,
	                                      routeValues: new
	                                      {
	                                         resetToken = Model.PasswordResetToken
	                                      });
}

To: @Model.UserMail
Subject: Password reset
Content-Type: text/html; charset=utf-8

<html>
	<body>
		<p>Hello @Model.UserFirstName,</p>
		<p>Someone has requested to reset the password for your account on the Auctioneer System.</p>
		<p>
			To enter new password for your account click or copy and paste into your browser's address bar the following link:<br />
			<a href="@passwordResetLinkUrl">@passwordResetLinkUrl</a>
		</p>
		<p>If you did not request this mail, ignore it.</p>
	</body>
</html>
